{% extends 'base_dash_listing.html' %}
{% load humanize %}

{% block titre_page %}Liste des terrains{% endblock %}

{% block header_list_titre %}{{ total }} terrains répertoriés{% endblock %}

{% block url-btn-ajouter %}{% url 'inventaire:nouvelle-parcelle' %}{% endblock %}

{% block entete_tbl %}
<thead>
	<tr>
		<th data-field="site" data-sortable="true">Site</th>
		<th data-field="capakey" data-sortable="true">CaPaKey</th>
		<th data-field="nature" data-sortable="true">Nature</th>
		<th data-field="droit" data-sortable="true">Droit</th>
		<th data-field="patris" data-sortable="true">Patris (m²)</th>
	</tr>
</thead>
{% endblock %}

{% block corps_tbl %}
<tbody>
	{% for p in object_list %}
	<tr>
		<td><a href="{{ p.site.get_absolute_url }}">{{ p.site }}</a></td>
		<td><a href="{{ p.get_absolute_url }}" type="button">{{ p.capakey }}</a></td>
		<td>{{ p.nature }}</td>
		<td>{{ p.get_droit_display }}</td>
		<td >{{ p.patris|floatformat:"0" }}</td>
	</tr>
	{% endfor %}
</tbody>
{% endblock %} 