{% extends 'base_dash_listing.html' %}
{% load humanize %}

{% block titre_page %}Liste de relevés de consommation{% endblock %}

{% block header_list_titre %}{{ total }} relevés répertoriés{% endblock %}

{% block url-btn-ajouter %}{% url 'inventaire:nouveau-rlv' %}{% endblock %}

{% block entete_tbl %}
<thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Début de période</th>
    <th scope="col">Fin de période</th>
    <th scope="col">Valeur</th>
    <th scope="col">Type Horaire</th>
  </tr>
</thead>
{% endblock %}

{% block corps_tbl %}
<tbody>
  {% for rlv in object_list %}
  <tr>
    <td><a href="{{ rlv.get_absolute_url }}">{{ rlv }}</a></td>
    <td>{{ rlv.debut_periode|date:'d b. Y' }}</td>
    <td>{{ rlv.fin_periode|date:'d b. Y' }}</td>
    <td>{{ rlv.quantite|floatformat:'2'|intcomma }} kWh</td>
    <td>{{ rlv.get_tarif_display }}</td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %} 