{% extends 'base_dash_adding.html' %}

{% block header_ajout_titre %}
{% if '/modifications/' in request.path %}
	Mise à jour
{% else %}
	Ajout
{% endif %} d'une organisation
{% endblock %}

{% block url-btn-retour %}{% url 'inventaire:org-list' %}{% endblock %}

{% block form_itself %}
{% load crispy_forms_tags %}
<div class="card-body">
	<div class="card-text">
	  <div class="row">
	    <div class="col-lg-6 col-md-12">
	      {{ form.nom|as_crispy_field }}
	    </div>
	    <div class="col-lg-3 col-md-12">
	      {{ form.bce_ne|as_crispy_field }}
	    </div>
	    <div class="col-lg-3 col-md-12">
	      {{ form.fase|as_crispy_field }}
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-3 col-md-12">
	      {{ form.phone|as_crispy_field }}
	    </div>
	    <div class="col-lg-3 col-md-12">
	      {{ form.gsm|as_crispy_field }}
	    </div>
	    <div class="col-lg-3 col-md-12">
	      {{ form.email|as_crispy_field }}
	    </div>
	    <div class="col-lg-3 col-md-12">
	      {{ form.homepage|as_crispy_field }}
	    </div>
	  </div>
	</div>
</div>
{% endblock %}