{% extends 'base_public.html' %}
{% load crispy_forms_tags %}
{% block titre_page %}Ciao les amis \o>{% endblock %}
{% block body_class %}bg-dark{% endblock %}
{% block contenu %}
{% load static %}
<div class="container-fluid py-5">
    <div class="row justify-content-center py-5">
        <div class="col-lg-5">
            <a href="{% url 'page:accueil' %}">
                <img class="img-fluid mx-auto d-block" src="{% static 'img/End of workday-rafiki.png' %}"/>
            </a>
        </div>
    </div>
</div>
{% endblock %}