{% extends 'base_public.html' %}
{% load crispy_forms_tags %}
{% block titre_page %}Réinitialisation{% endblock %}
{% block entete %}

{% endblock %}
{% block contenu %}
{% load static %}
<div class="container pt-5">
  <div class="shadow-lg card bg-light mb-3 mx-auto w-50">
    <div class="card-header text-center"><i class="far fa-thumbs-up fa-2x"></i></div>
      <div class="card-body">
        <p class="card-text">Votre mot de passe a été modifié.</p>
      </div>
    <div class="card-footer text-muted text-right">
      <small class="text-muted">
        <a href="{% url 'login' %}">Vous pouvez vous connecter ici.</a>
      </small>
    </div>
  </div>
</div>
{% endblock %}