{% extends 'base_public.html' %}
{% load crispy_forms_tags %}
{% block titre_page %}Réinitialisation effectuée{% endblock %}
{% block entete %}

{% endblock %}
{% block contenu %}
<div class="container py-10">
  <div class="shadow-lg card bg-light m-5 mx-auto w-50">
    
      <div class="card-body">
        <p class="card-text">Un courriel vous a été envoyé.</p>
      </div>
    <div class="card-footer text-muted text-right">
      <small class="text-muted">
        <a href="{% url 'page:accueil' %}">Retour à la page d'accueil.</a>
      </small>
    </div>
  </div>
</div>
{% endblock %}