{% extends 'base_dash.html' %}
{% block titre_page %}Résultats de la recherche{% endblock %}
{% block entete %}
<header class="page-header page-header-compact page-header-light border-bottom bg-gradient-primary-to-secondary mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title text-white">
                        <div class="page-header-icon text-white"><i class="fas fa-search"></i></div>
                        Terme recherché : "{{ terme_recherche }}"
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block contenu %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            {% for requetes in object_list %}
                <h1>{{ requetes.nom }}</h1>
                <ul>
                    {% for req in requetes.resultats %}
                    <li><a href="{{ req.get_absolute_url }}">{{ req }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block jsSupp %}

{% endblock %}